.crear-usuario-btn {
    margin-top: 20px;
    font-weight: bold;
}

ion-card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

ion-card-content {
    padding: 20px;
}

ion-toolbar {
    --background: #3880ff;
    --color: #ffffff;
}

ion-title {
    font-weight: bold;
    text-align: center;
}

